
.contenedorNavbar {
  height: auto;
  width: 100%;
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  padding-top: 20px;
}

.navbar__logo img {
  height: 90px;
  width: auto;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 60%;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
}

.ContenedorDegradado{
  height: 60px;
  background: linear-gradient(black,rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.226), #252c3944, #252c39a4), #252c39e5;
  padding-top: 120px;
}
