<div class="personaje">
  <div class="contenedor__personaje">
    <div class="cardPersonaje">
      <img src="../../../../../assets/img/1opcion.png" alt="">
      <div class="cardPersonaje__informacion">
        <h1>Rick Sanchez</h1>
        <div class="cardPersonaje_detalle1">
          <div>
            <h2>Human</h2>
            <h3>jhonier yela</h3>
          </div>

          <div>
            <h2>Human</h2>
            <h3>jhonier yela</h3>
          </div>

          <div>
            <h2>Human</h2>
            <h3>jhonier yela</h3>
          </div>

        </div>
        <div class="cardPersonaje_detalle2">
          <div>
            <h2>Location</h2>
            <h3>xxxxxXXX</h3>
          </div>
          <div>
            <h2>Type</h2>
            <h3>xxxxxXXX</h3>
          </div>
        </div>
        <div>
          <h2>Created</h2>
          <h3>xxxxxXXX</h3>
        </div>
      </div>
    </div>
  </div>
</div>
