* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__contacto {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0;
}

.footer__contacto a {
    color: white;
}

.footer__redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: red;
}

.footer__redes a img {
    height: 50px;
    width: 50px;
}
