<div>
    <div class="footer">
        <div class="footer__contacto">
          <h1>Correo: </h1>
          <a href="#">myjhonier@gmail.com</a>
          <h1>Telefono: </h1>
          <a>+57 3217742884</a>
        </div>
        <div class="footer__redes">
          <a href="https://www.linkedin.com/in/jhonier-martinez-yela-07810b233/" target="_blank"><img src="../../../../assets/img/linkedin.png"></a>
          <a href="https://github.com/Jhonier131" target="_blank"><img src="../../../../assets/img/github.png" alt=""></a>
          <a href=""><img src="../../../../assets/img/whatsapp.png" alt=""></a>
        </div>
      </div>
</div>
