<div class="personajes">
  <div class="contenedor__personajes">
    <div class="personajes__card" *ngFor="let data of infoGeneral.results">
      <div class="card__contenedor">
        <img src="{{data.image}}">
        <h2>{{data.name}}</h2>
        <div class="personajes__icon">
          <h4 [ngClass]="data.species === 'Human' ? 'iconHuman': 'iconAlien'">{{data.species}}</h4>
        </div>
        <div class="personajes__icon">
          <h4 [ngClass]="data.gender === 'Male' ? 'iconMale':
                        data.gender === 'Female' ? 'iconFemale' : 'iconUnknown'">{{data.gender}}</h4>
        </div>
      </div>
    </div>
  </div>
  <a class="btn-flotante prev" (click)="prevPage()"><img src="../../../../../assets/img/flecha-correcta.png"></a>
  <a class="btn-flotante next" (click)="nextPage()"><img src="../../../../../assets/img/flecha-correcta.png"></a>
</div>

<button id="goUp" style="background-color:green;color:white;padding:10px;border:none;border-radius:5px;font-size:14px;cursor:pointer;">
  Go Up
</button>
