<div class="personajes">
  <div class="contenedor__personajes">
    <div class="personajes__card" *ngFor="let data of infoGeneral.results">
      <div class="card__contenedor">
        <img src="{{data.image}}">
        <h2>{{data.name}}</h2>
        <div class="personajes__icon">
          <h4 [ngClass]="data.species === 'Human' ? 'iconHuman': 'iconAlien'">{{data.species}}</h4>
        </div>
        <div class="personajes__icon">
          <h4 [ngClass]="data.gender === 'Male' ? 'iconMale':
                        data.gender === 'Female' ? 'iconFemale' : 'iconUnknown'">{{data.gender}}</h4>
        </div>
        <button>Up</button>
      </div>
    </div>
  </div>
</div>
